* {
  font-family: "Nunito", sans-serif;
  font-family: "Source Sans Pro", sans-serif; }

h2 {
  margin-top: 5px;
  text-align: center; }

/*----NAV----*/
/*----BOTONES----*/
/*----CARDS----*/
/*---ASIDE---*/
/*--FOOTER--*/
/*--FORMULARIO--*/
/*--NOSOTROS--*/
.display, .one, .two {
  display: flex;
  align-items: center; }

.mar-font, .one .text-secundario, .two .text-secundario {
  margin: 40px;
  font-size: 16px;
  padding: 40px; }

nav {
  background-color: #fcffe7;
  padding: 10px; }

.navbar {
  background-color: #e0d8b0;
  color: white; }
  .navbar .input-buscador {
    height: 45px; }

.navbar > img {
  color: white; }

.button-nav {
  margin: 10px 15px;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #becbf5;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff;
  color: white; }

.button-nav:active {
  background-color: #241e1e;
  box-shadow: 4px 4px 12px #3b3737, -4px -4px 12px #ffffff; }

button > a {
  text-decoration: none;
  color: white; }
  button > a :hover {
    border: 1px solid #fffcfc; }

/*no encontre la manera de acomodarlo correctamente*/
.carousel-inner {
  max-height: 300px; }

article {
  background-color: #ffebc1; }
  article .card {
    background-color: #fde1a5;
    margin: 30px 0px 30px 0px;
    width: 400px; }
    article .card img {
      margin: 15px auto 0 auto;
      max-width: 300px;
      max-height: 300px; }

aside {
  background-color: #fcffe7;
  padding: 10px 0px 10px 0px; }
  aside .bank {
    margin: 10px 15px;
    max-width: 150px;
    max-height: 150px; }
  aside .button-medios {
    display: flex;
    justify-content: center;
    margin-top: 10px; }

footer {
  min-height: 60px;
  background-color: #ce9461; }
  footer .icon-red {
    font-size: 25px; }

span {
  color: white;
  text-align: center; }

.icon-instagram {
  color: #d83651; }

.icon-facebook {
  color: #5252e0; }

.icon-whatsapp {
  color: #39b539; }

.icon-twitter {
  color: #3ed0e3; }

.carousel-inner {
  max-height: 300px; }

.formulario {
  display: block; }
  .formulario .formulario-contacto {
    background-color: #e0d8b0;
    border-radius: 8px;
    text-align: center;
    margin: 10px auto;
    padding: 10px; }
    .formulario .formulario-contacto textarea {
      height: 100px; }
    .formulario .formulario-contacto .boton-enviar {
      background-color: #ce9461;
      color: white; }

.table-bancos {
  max-width: 600px;
  margin: 20px auto; }

.portada-principal {
  width: auto; }
  .portada-principal .text-principal {
    margin: 10px;
    font-size: 20px; }

.one img {
  width: 45%; }

.one .text-secundario {
  background: linear-gradient(white, #e8c7a0, white); }

.two {
  flex-direction: row-reverse; }
  .two img {
    width: 45%; }
  .two .text-secundario {
    background: linear-gradient(white, #FFE59D, white); }
