* {
    font-family: "Nunito", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    /* outline: 1px solid red;  */
}
/*NAVER*/
.navbar {
    background-color: #e0d8b0;
    color: white;
}

nav {
    background-color: #fcffe7;
    padding: 10px;
}

.input-buscador {
    height: 45px;
}

/* botones */
button > a {
    text-decoration: none;
    color: black;
}

.button-nav {
    margin: 10px 15px;
    color: #090909;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #becbf5;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff;
}

.button-nav > a:hover {
    color: black;
}

.button-nav:hover {
    color: black;
    background-color: grey;
    border: 1px solid rgb(255, 252, 252);
}

.button-nav:active {
    color: black;
    background-color: rgb(36, 30, 30);
    box-shadow: 4px 4px 12px #3b3737, -4px -4px 12px #ffffff;
}

/*slider*/

.carousel-inner {
    max-height: 300px;
}

h2 {
    margin-top: 5px;
    text-align: center;
}
/*card*/
article {
    background-color: #ffebc1;
}
.card {
    margin: 30px 0px 30px 0px;
    width: 400px;
}

.card > img {
    margin: 15px auto 0 auto;
    max-width: 300px;
    max-height: 300px;
}

/*aside*/
aside {
    background-color: #fcffe7;
    padding: 10px 0px 10px 0px;
}

.bank {
    margin: 10px 15px;
    max-width: 150px;
    max-height: 150px;
}

.button-medios {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*FOOTER*/
footer {
    min-height: 60px;
    background-color: #ce9461;
}

span {
    color: white;
    text-align: center;
}

.icon-red {
    font-size: 25px;
    color: white;
}

/*CONTACTANOS HTML*/
.article-big {
    padding: 10px;
    border-radius: 20px;
}

.img-big {
    width: 100%;
    height: 600px;
    border-radius: 20px;
}
.article.text {
    margin-top: 20px;
}

/*formulario de contacto*/
.formulario {
    display: block;
}

.formulario-contacto {
    background-color: #e0d8b0;
    border-radius: 8px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.boton-enviar {
    background-color: #ce9461;
    color: white;
}

.formulario-contacto textarea {
    height: 100px;
}

/* Medios de pago */

.table-bancos {
    max-width: 600px;
    margin: 20px auto;
}
