nav {
    background-color: #fcffe7;
    padding: 10px;
 }
 .navbar {
    background-color: $colorBackNav;
    color: white;
    .input-buscador {
       height: 45px;
    }
 }
 
 .navbar > img{
    color: white;
 }