* {
    font-family: "Nunito", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}

h2 {
    margin-top: 5px;
    text-align: center;
}

/*----NAV----*/
$colorBackNav: #e0d8b0;

/*----BOTONES----*/

$colorBackButton: #becbf5;
$colorLetraButton: #090909;
$fontSizeButtonNav: 18px;
$colorBackHoverB: grey;

/*----CARDS----*/
$articleBackCard: #ffebc1;

@mixin card {
    background-color: #fde1a5;
    margin: 30px 0px 30px 0px;
    width: 400px;
}

@mixin img-card {
    margin: 15px auto 0 auto;
    max-width: 300px;
    max-height: 300px;
}

/*---ASIDE---*/
$colorBackAside: #fcffe7;

/*--FOOTER--*/
$redes: (
    icon-instagram: rgb(216, 54, 81),
    icon-facebook: rgb(82, 82, 224),
    icon-whatsapp: rgb(57, 181, 57),
    icon-twitter: rgb(62, 208, 227),
);

$span: (
    color: white,
    text-align: center,
);

$colorBackFooter: #ce9461;
$fontSizeButton: 25px;

/*--FORMULARIO--*/
$colorBackForm: #e0d8b0;
$colorButtonForm: #ce9461;

/*--NOSOTROS--*/
.display {
    display: flex;
    align-items: center;
}
.mar-font {
    margin: 40px;
    font-size: 16px;
    padding: 40px;
}
